langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-pinecone
langchain-groq
langchain-tavily
langchain-huggingface
sentence-transformers
pypdf
docx2txt
unstructured
fastapi
uvicorn
streamlit
python-dotenv
pinecone 
requests
uuid